.navbar {
    .navbar-brand {
        span, .editable-link {
            color: #eee;
            font-size: 170%;
            border-color: #bbb;
        }
        &.logo {
            .sep {
                width: 1px;
                height: 20px;
                background-color: #555;
                margin: 0 5px 0 5px;
                display: inline-block;
            }
        }
        form.editable-wrap {
            height: 64px;
            input {
                border: none;
                color: #eee;
                background-color: #333;
                padding: 0px;
                box-shadow: none;
                font-size: 170%;
                vertical-align: top;
                height: 60px;
            }
        }
        &.user {
            padding: 0px 15px;
            line-height: 64px;
            img {
                margin-right: 10px;
                margin-top: 8px;
                float: left;
            }
        }
    }
    .navbar-btn.btn-lg {
        margin-bottom: 0px;
        background-color: #444;
        border: none;
        padding: 12px 22px 12px 21px;
        margin-left: 10px;
        margin-top: 11px;
        font-size: 15px;
        a {
            color: #eee;
        }
    }
}
