.navbar {
    border: none;
    box-shadow: 0px 1px 2px #000;
    .navbar-brand {
        span, .editable-link {
            color: #eee;
            font-size: 170%;
            border-color: #bbb;
        }
        &.logo {
            .sep {
                width: 1px;
                height: 20px;
                background-color: #555;
                margin: 0 5px 0 5px;
                display: inline-block;
            }
        }
        form.editable-wrap input {
            border: none;
            color: #eee;
            background-color: #333;
            padding: 0px;
            box-shadow: none;
            font-size: 170%;
            vertical-align: top;
            height: 64px;
        }
        &.user {
            padding: 0px 15px;
            img {
                margin-right: 10px;
                margin-top: 8px;
                float: left;
            }
            span {
                line-height: 64px;
            }
        }
    }
    form.user-search {
        margin: 11px 0 0 0;
        padding: 0;
        input {
            border: none;
            height: 43px;
            font-size: 100%;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            z-index: 1;
            background: #444;
            color: #fff;
            width: 250px;

            transition: background-color 0.1s ease;
            &:focus {
                box-shadow: none;
                border: none;
                background: #555;
            }
        }
    }
    .navbar-right.list-inline {
        li {
            padding-right: 0px;
            padding-left: 10px;
            .navbar-btn {
                margin-bottom: 0px;
                margin-top: 11px;
            }
        }
        .navbar-btn.google-signin-btn {
            margin-bottom: 0px;
        }
        &.follow-nav .navbar-btn {
            padding-top: 12px;
            padding-bottom: 12px;
            margin-right: 16px;
            font-weight: bold;
            width: 100px;
        }
        &.search-nav {
            position: relative;
            margin-right: 6px;
            li {
                padding-left: 0px;
            }
            .navbar-btn {
                margin-top: -1px;
            }
            .dropdown {
                position: absolute;
                width: 100%;
                background: #fff;
                top: 100%;
                left: 0;
                ul {
                    border-bottom: 3px solid #226baa;
                    padding-left: 0px;
                    box-shadow: 0px 1px 3px #333;
                    li a {
                        display: block;
                        padding: 10px;
                        cursor: pointer;
                        color: #222;

                        &:hover {
                            background: #428bca;
                            color: #fff;
                            text-decoration: none;
                        }

                        .name {
                            margin-left: 70px;
                            margin-bottom: 0px;
                            line-height: 52px;
                            font-size: 1.2em;
                        }
                        .avatar {
                            float: left;
                            border-radius: 100%;
                            border: 1px solid #333;
                        }
                    }
                }
            }
        }
    }
}
