.metrics-infos {
    p {
        font-size: 200px;
        color: #637882;
        position: absolute;
        top: 50%;
        margin-top: -100px;
    }
}

.btn.load-more, .page-information {
    font-size: 1.3em;
    width: 100%;
    color: #eee;
    transition: background-color 0.1s ease;
    margin: 16px 0 16px 0;
    padding: 6px 12px 6px 12px;
    border: none;
}

.page-information {
    background: #435862;
    padding: 0;
    height: 2px;
}

.btn.load-more {
    background: #637882;
    text-transform: uppercase;
    font-weight: bold;

    transition: background-color 0.2s ease;
    &:hover {
        color: #eee;
        background: #738892;
    }
}

.toolbar {
    .form-control {
        border: none;
        box-shadow: none;
    }
    .btn.add-metric {
        background: #b55;
        border: none;
        width: 259px;
        transition: background 0.2s ease;
        &:hover {
            background: #c66;
        }
    }
    margin-bottom: 30px;
}

.deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;
}

.deckgrid .column {
    @include make-md-column(4);
}
