.no-metrics-message {
    font-size: 2em;
    background: #637882;
    color: #eee;
    padding: 20px;
    margin-top: 15%;
    box-shadow: 1px 1px 2px #333;
}

.btn.load-more {
    font-size: 1.3em;
    width: 100%;
    background: #637882;
    color: #eee;
    transition: background-color 0.1s ease;
    &:hover {
        color: #eee;
        background-color: #738892;
    }
}

.toolbar {
    input {
        border: none;
    }
    .add-metric {
        padding-right: 18px;
        .btn {
            background: #c66;
            margin-left: 8px;
            width: 100%;
            border: none;
        }
    }
    margin-bottom: 30px;
}

.deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;
}

.deckgrid .column {
    @include make-md-column(4);
}
