.no-metrics-message {
    font-size: 4em;
    margin-top: 10%;
}

.toolbar {
    input {
        border: none;
    }
    .hashtags {
        
    }
}

.deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;
}

.deckgrid .column {
    @include make-md-column(4);
}
