.panel {
    box-shadow: 2px 2px 2px #333;
    border: none;
    .panel-heading {
        background-color: #222;

        &.editable {
            cursor: pointer;
        }
        b.metric-name {
            font-size: 24px;
            line-height: 34px;
            color: #fff;
            border-color: #bbb;
        }
        input {
            font-size: 24px;
            border: none;
            color: #fff;
            background-color: #222;
            padding: 0px;
            box-shadow: none;
            font-weight: bold;
        }
    }
    .panel-body {
        padding-top: 7px;

        ul.options {
            padding: 0;
            margin: 0 0 0 -5px;
            width: 100%;

            &.options-dropdown.ng-hide-add,
            &.options-dropdown.ng-hide-remove {
                -webkit-transition: 0.2s linear all;
                transition: 0.2s linear all;

                display: block !important;
                opacity: 1;
                max-height: 22px;
            }
            &.options-dropdown.ng-hide {
                opacity: 0;
                max-height: 0px;
            }

            li {
                padding-left: 0;

                .btn {
                    padding: 0;
                    margin: 0 10px 0 0;
                }
            }
        }
        ul.metric-value {
            padding-top: 8px;
            margin-bottom: 0px;
            cursor: pointer;
            li {
                min-width: 17px;
                background: #eee;
                margin-right: 6px;
                height: 75px;
                &.selected {
                    background: #555;
                }
            }
        }
        span.metric {
            font-size: 90px;
            line-height: 70px;
            margin-top: 8px;
        }
    }
}
